html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    font-family: Georgia, serif;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

#tree-art {
    font-family: "Courier New", monospace;
    white-space: pre;
    justify-self: center;
}

@media (max-width: 600px) {
    #tree-art {
        font-size: 2.5vw;
    }
}

#intro {
    justify-items: center;
    width: 100%;
}

#intro p {
    padding: 0 1em;
    text-align: justify;
}

#social-links {
    margin-top: 2em;
    display: flex;
    gap: 1.5em;
}

.social-link {
    text-decoration: none;
    color: black;
    position: relative;
}

.social-link::before {
    content: "[ ";
}

.social-link::after {
    content: " ]";
}

.social-link span:hover {
    text-decoration: underline;
}

.separator {
    border: none;
}

.separator::before {
    content: "...";
    font-weight: bold;
    letter-spacing: 0.25em;
    padding-left: 0.25em;
}
